<!-- INCLUDE ucp_header.html -->
<form id="ucp" method="post" action="{S_UCP_ACTION}"{S_FORM_ENCTYPE}>

<h2>{L_UCP_NOTIFICATIONS_DELETE}</h2>
<div class="panel">
	<div class="inner">

		<p>{L_UCP_NOTIFICATIONS_DELETE_EXPLAIN}</p>

			<!-- IF .notification_list -->
				<div class="action-bar top">
					<div class="pagination">
						{L_NOTIFICATIONS} [<strong>{TOTAL_COUNT}</strong>]
						<!-- IF .pagination -->
							<!-- INCLUDE pagination.html -->
						<!-- ELSE -->
							 &bull; {PAGE_NUMBER}
						<!-- ENDIF -->
					</div>
				</div>

			<div class="notification_list">
				<ul class="topiclist cplist two-columns">
					<!-- BEGIN notification_list -->
						<li class="row<!-- IF notification_list.UNREAD --> bg3<!-- ELSE --><!-- IF notification_list.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF --><!-- ENDIF --><!-- IF notification_list.STYLING --> {notification_list.STYLING}<!-- ENDIF -->">
							<dl>
								<dt>
									<div class="list-inner">
										<!-- IF notification_list.AVATAR -->{notification_list.AVATAR}<!-- ELSE --><img src="{T_THEME_PATH}/images/no_avatar.gif" alt="" /><!-- ENDIF -->
										<div class="notifications">
											<!-- IF notification_list.URL --><a href="{notification_list.URL}"><!-- ENDIF -->
											<p class="notifications_title">{notification_list.FORMATTED_TITLE}<!-- IF notification_list.REFERENCE --> {notification_list.REFERENCE}<!-- ENDIF --></p>
											<!-- IF notification_list.URL --></a><!-- ENDIF -->
											<!-- IF notification_list.FORUM --><p class="notifications_forum">{notification_list.FORUM}</p><!-- ENDIF -->
											<!-- IF notification_list.REASON --><p class="notifications_reason">{notification_list.REASON}</p><!-- ENDIF -->
											<p class="notifications_time">{notification_list.TIME}</p>
										</div>
									</div>
								</dt>
								<dd class="mark">&nbsp;<input type="checkbox" name="mark[]" value="{notification_list.NOTIFICATION_ID}" />&nbsp;</dd>
							</dl>
						</li>
					<!-- END notification_list -->
				</ul>
			</div>

			<div class="action-bar bottom">
				<div class="pagination">
					{L_NOTIFICATIONS} [<strong>{TOTAL_COUNT}</strong>]
					<!-- IF .pagination -->
						<!-- INCLUDE pagination.html -->
					<!-- ELSE -->
						  &bull; {PAGE_NUMBER}
					<!-- ENDIF -->
				</div>
			</div>

			<!-- ELSE -->
				<p><strong>{L_NO_NOTIFICATIONS}</strong></p>
			<!-- ENDIF -->
	</div>
</div>

<!-- IF .notification_list -->
<fieldset class="display-actions">
	{S_HIDDEN_FIELDS}
	<input type="submit" name="submit" value="{L_DELETE_MARKED_PM}" class="button1" />
	<input type="submit" name="del_all" value="{L_DELETE_ALL}" class="button2" />
	<div><a href="#" onclick="$('#ucp input:checkbox').prop('checked', true); return false;">{L_MARK_ALL}</a> &bull; <a href="#" onclick="$('#ucp input:checkbox').prop('checked', false); return false;">{L_UNMARK_ALL}</a></div>
</fieldset>
<!-- ENDIF -->
</form>
<!-- INCLUDE ucp_footer.html -->
